
.footer__info {
    display: flex;
    justify-content: space-between;
    /* margin-top: -90px; */
}
/* 
.footer__infoLeft {
    width: 40%;
} */

.footer__emptyDiv {
    width: 2px;
    background: #eeeeee;

}

.footer_infoRight {
    width: 40%;
}

.footer__btn {
    border-radius: 20px;
}