
.background_svg {
    background-image: url(../../pages/public/images/svg/building_background.svg);
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center ; 
    /* height: 85vh; */
    /* width: 100% */
}

.hero_heading{
    text-shadow: 1px 0px 6px rgba(118,118,118,0.94);
}