.featured__list {
  overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container {
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  overflow-y: scroll;
  
}

.child {
  scroll-snap-align: start;
}